@font-face {
    font-family: "unopim-prestashop";
    src: url("../fonts/prestashop.woff?jwnnow") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.icon-prestashop {
    font-family: "unopim-prestashop" !important;
}
.icon-prestashop:before {
    content: "\e900";
}
